html, body {
  height: 100%;
  color: #888;
  font-family: 'Courier New', Courier, monospace;
  background: #222;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

#main {
  border: 1px solid #888;
  border-radius: 4px;
  padding: 4px 40px;
}
